# Dotenv
.env
.env.*
!.env.example

# WP-CLI
db-sync
sql-dump-*.sql

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# Application
web/.htaccess
web/app/upgrade
web/app/uploads/*
web/app/themes/theme/assets/scripts/vendor/modernizr.js
web/app/themes/theme/assets/scripts/vendor/plugins.js
web/app/themes/theme/assets/scripts/vendor/mobile.js
web/app/themes/theme/assets/scripts/loader.js
web/app/themes/theme/assets/scripts/polyfills.js
web/app/themes/theme/assets/scripts/main.js
web/app/themes/theme/assets/css/main.css
web/app/themes/theme/assets/css/main.css.map
web/app/themes/theme/assets/css/framework.css
web/app/themes/theme/assets/css/framework.css.map

# Other Stuff
.sass-cache
src/vendor
